{% extends 'base.html.twig' %}

{% block title %}{{ viewPost.uploader }}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block body %}
<section>
   <article class="post animated" style="margin-bottom:400px;">
      <div class="post-title">
         <span class="uploader">
            <img class="img-responsive xs-profile" src="{{ asset("images/profiles/" ~ viewPost.uploader_profile_pic) }}" alt="Profile icon of {{ viewPost.uploader }},">
            <a href="{{ asset('u/' ~ viewPost.uploader_link) }}">{{ viewPost.uploader }}</a>
           </span>
         <span class="post-time">{{ viewPost.time }}</span>
      </div>
      <p class="post-content">{{ viewPost.content }}</p>
      <div class="post-info">
         {% if user is defined %}
            <a class="upvote-icon feed-icon" href="{{ path('upvote', { postid: viewPost.post_id }) }}" title="Upvote this post">
              {% if viewPost.upvotedByUser %}
                <i class="fas fa-thumbs-up"></i>
              {% else %}
                <i class="far fa-thumbs-up"></i>
              {% endif %}
              {{ viewPost.upvoters | length }}
            </a> 
            &middot;
          {% endif %}
         <a id="{{ 'post-' ~ viewPost.post_id ~ '-link'}}" class="feed-icon comment-link" href="#" title="Show the comments of this post">
          <i class="far fa-comment"></i> {{ viewPost.comments | length }}
         </a>
      </div>
      <div id="{{ 'post-' ~ viewPost.post_id ~ '-comments' }}" class="post-comments animated fadeIn" style="display:none;">
      {% if user is defined %}
        <form action="{{ asset('p/auth/newcomment') }}" method="POST">
          <div class="input-group">
            <textarea height="42" class="form-control" name="comment" placeholder="Write a comment here ..." required></textarea>
            <input style="display:none;" type="text" name="postid" value="{{ viewPost.post_id }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary send-comment">Send</button>
            </div>
          </div>
        </form>
      {% endif %}
         {% if viewPost.comments is not null %}
            {% for comment in viewPost.comments %}
               <div class="comment">
                  <div>
                     <a href="{{ asset('u/' ~ comment.commenterLink) }}" class="comment-commenter">
                        <img class="xxs-profile" src="{{ asset('images/profiles/' ~ comment.commenterProfile) }}" alt="Profile picture of {{ comment.commenter }},">
                        {{ comment.commenter }}
                     </a>
                     &middot;
                     <span class="comment-time">{{ comment.time }}</span>
                  </div>
                  <span class="comment-content">{{ comment.comment }}</span>
               </div>
            {% endfor %}
         {% else %}
            <p class="h3 mt-1">There are no comments on this post ...</p>
            {% if user is defined %}
              <p>Be the first to comment on it</p>
            {% endif %}
         {% endif %}
      </div>
   </article>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}
