{% extends 'layout/base.html.twig' %}

{% block title %}{{ viewPost.uploader }}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block body %}
<section>
   <article class="post animated" style="margin-bottom:400px;">
      <div class="post-title">
          <a class="uploader" href="{{ asset('u/' ~ viewPost.uploaderLink) }}">
              <img class="img-responsive xs-profile" src="{{ asset("images/profiles/" ~ viewPost.uploaderProfilePic) }}" alt="Profile icon of {{ viewPost.uploader }},">
              {{ viewPost.uploader }}
          </a>
         <span class="post-time">{{ viewPost.dateOfUpload | date('Y-m-d G:i') }}</span>
      </div>
      <p class="post-content">{{ viewPost.content }}</p>
      <div class="post-info">
          <a class="upvote-icon feed-icon" href="{{ path("upvote", { entityId: viewPost.postId }) }}" title="Upvote this post">
              {% if viewPost.upvotedByUser %}
                <i class="fas fa-thumbs-up"></i>
              {% else %}
                <i class="far fa-thumbs-up"></i>
              {% endif %}
              {{ viewPost.upvotes }}
          </a>
            &middot;
         <a id="{{ 'post-' ~ viewPost.postId ~ '-link'}}" class="feed-icon comment-link" href="#" title="Show the comments of this post">
          <i class="far fa-comment"></i> {{ viewPost.comments | length }}
         </a>
      </div>
      <div id="{{ 'post-' ~ viewPost.postId ~ '-comments' }}" class="animated fadeIn" style="display:block;">
         <div class="input-group comment-field">
           <textarea id="{{ 'comment-area-' ~ viewPost.postId }}" height="42" class="form-control" name="comment" placeholder="Write a comment here ..." required></textarea>
           <div class="input-group-append">
               <button href="{{ path('comment', { entityId: viewPost.postId }) }}" type="submit" class="btn btn-info send-comment">Send</button>
           </div>
         </div>
         {% if viewPost.comments is not null %}
            {% for comment in viewPost.comments %}
               <div class="comment">
                  <div>
                     <a href="{{ asset('u/' ~ comment.commenterLink) }}" class="comment-commenter">
                        <img class="xxs-profile" src="{{ asset('images/profiles/' ~ comment.commenterProfile) }}" alt="Profile picture of {{ comment.commenter }},">
                        {{ comment.commenter }}
                     </a>
                     &middot;
                     <span class="comment-time">{{ comment.actionDate | date("Y-m-d") }}</span>
                  </div>
                  <span class="comment-content">{{ comment.content }}</span>
               </div>
            {% endfor %}
         {% else %}
             <p class="h3 mt-1">There are no comments on this post ...</p>
             <p>Be the first to comment on it</p>
         {% endif %}
      </div>
   </article>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}
