{% extends 'layout/base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<section class="text-center mt-4">
   {% if loginErrors is defined %}
      {% for error in loginErrors %}
         <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ error }}</strong>
         </div>
      {% endfor %}
   {% endif %}

   <div class="signup-form">
      <h2>Sign up for free</h2>
      {{ form_start(signup) }}
         <div class="row mt-3">
            <div class="col-sm">{{ form_row(signup.first_name) }}</div>
            <div class="col-sm">{{ form_row(signup.last_name) }}</div>
         </div>
         {{ form_row(signup.email) }}
         {{ form_row(signup.plain_password) }}
         <div class="row mb-3 mt-3">
            <div class="col-sm">
               {{ form_row(signup.birth_date) }}
            </div>
            <div class="col-sm">
               <label>Gender</label>
               {{ form_row(signup.gender) }}
            </div>
         </div>
         <span style="display:inline-block">
            {{ form_row(signup.termsBox) }}
         </span>
         <span style="display:inline-block;font-size:20px;">
            <a href="duckduckgo.com" class="btn btn-link" style="display:inline">terms and conditions.</a>
         </span>
         {{ form_row(signup.Submit) }}
         {{ form_errors(signup) }}
      {{ form_end(signup) }}
   </div>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}