{% extends 'layout/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section class="row mt-4 animated jackInTheBox">
        <div class="col-sm-2">
            <h3 class="font-weight-light">Hi {{ app.user.lastName }}</h3>
        </div>
        <div class="col-sm-10">
            {{ form_start(new_post) }}
                {{ form_row(new_post.content) }}
                <div class="row">
                    <div class="ml-auto col-sm-2">
                        <span class="text-muted">Attach: </span>
                    </div>
                    <div class="ml-auto col-sm-8">
                        {{ form_row(new_post.image) }}
                    </div>
                    <div class="mr-auto col-sm-2">
                        {{ form_row(new_post.Submit) }}
                    </div>
                </div>
            {{ form_end(new_post) }}
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12">
            {% if posts is defined %}
                {% for post in posts %}
                    {% include 'elements/post.html.twig' %}
                {% endfor %}
            {% else %}
                <h1 class="mx-5 my-5">There are no post's to show!</h1>
                <p style="margin-bottom:500px !important;">Please come back later ...</p>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/quote.js') }}"></script>
{% endblock %}