<article class="post animated bounceInUp">
    <div class="post-body">
        <div class="post-title mb-2">
            <a class="uploader" href="{{ path('view_page', { pageId: post.page_id, pagePermalink: post.page_permalink }) }}">
                <img class="img-responsive xs-profile" src="{{ asset("images/pages/" ~ post.page_pic) }}" alt="Profile icon of {{ post.page_name }},">
                {{ post.page_name }}
            </a>
            <span class="post-time">{{ post.date_of_upload | date('Y-m-d G:i') }}</span>
        </div>
        {# Modal for post is at the bottom of the page #}
        {% if post.shortContent is defined %}
            <pre class="post-content">{{ post.shortContent }}<button class="btn btn-link" data-toggle="modal" data-target="{{ '#post-' ~ post.post_id ~ '-modal' }}">show more</button></pre>
        {% else %}
            <pre class="post-content">{{ post.content }}</pre>
        {% endif %}
        {% if post.image is not null %}
            <img src="{{ asset('images/posts/' ~ post.image) }}" style="max-height:auto;max-width:500px;" alt="Post image,">
        {% endif %}
        <div class="post-info">
            <a class="upvote-icon feed-icon" href="{{ path("upvote", { entityId: post.post_id, toUserId: post.user_id }) }}" title="Upvote this post">
                {% if post.isUpvotedByUser %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
                {{ post.upvotes }}
            </a>
            <a id="{{ 'post-' ~ post.post_id ~ '-link'}}" class="feed-icon ml-2 comment-link" href="#" title="Show the comments of this post">
                <i class="far fa-comment"></i>
                {{ post.comments | length }}
            </a>
        </div>
        <div id="{{ 'post-' ~ post.post_id ~ '-comments' }}" class="animated fadeIn" style="display:none;">
            {% if post.comments is not null %}
                {% for comment in post.comments %}
                    <div class="comment">
                        <div>
                            <a href="{{ path('view_user', { permalink: comment.permalink }) }}" class="comment-commenter">
                                <img class="xxs-profile" src="{{ asset('images/profiles/' ~ comment.profile_pic) }}" alt="Profile picture of {{ comment.first_name ~ ' ' ~ comment.last_name }},">
                                {{ comment.first_name ~ ' ' ~ comment.last_name }}
                            </a>
                            &middot;
                            <span class="comment-time">{{ comment.action_date | date("Y-m-d G:i") }}</span>
                        </div>
                        <pre class="comment-content">{{ comment.content }}</pre>
                    </div>
                {% endfor %}
            {% else %}
                <p class="h3 mt-1">There are no comments on this post...</p>
                <p>Be the first to comment on it</p>
            {% endif %}
        </div>
    </div>
    <div id="{{ 'post-' ~ post.post_id ~ '-comment-field' }}" class="animated fadeIn input-group comment-field" style="display:none;">
        <textarea id="{{ 'comment-area-' ~ post.post_id }}" height="42" class="form-control" placeholder="Write a comment ..."></textarea>
        <div class="input-group-append">
            <button href="{{ path('comment', { entityId: post.post_id, toUserId: post.user_id }) }}" class="btn btn-info btn-lg send-comment"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</article>

{# Modal for post #}
<div class="modal fade" id="{{ 'post-' ~ post.post_id ~ '-modal' }}" tabindex="-1" role="dialog" aria-labelledby="postModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalTitle">
                    <a class="uploader" href="{{ path('view_user', { permalink: post.page_permalink }) }}">
                        <img class="img-responsive xs-profile" src="{{ asset("images/pages/" ~ post.page_pic) }}" alt="Profile icon of {{ post.page_name }},">
                        {{ post.page_name }}
                    </a>
                    &middot;
                    <span>{{ post.date_of_upload | date('Y-m-d G:i') }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if post.image is not null %}
                    <img src="{{ asset('images/posts/' ~ post.image) }}" style="max-height:auto;max-width:500px;" alt="Post image,">
                {% endif %}
                <pre class="post-content">{{ post.content }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>