{% extends 'layout/base.html.twig' %}

{% block title %}Find Friends{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Friends</h1>
    <section id="friend-list">
        {% if friends is defined %}
            <ul class="text-left" style="list-style:none;">
                {% for friend in friends %}
                    <li class="friend-list-item">
                        <div class="row">
                            <div class="col-sm-10">
                                <a href="{{ path('view_user', { permalink: friend.permalink }) }}">
                                    <img class="m-profile" src="{{ asset('images/profiles/' ~ friend.profile_pic) }}" alt="Profile picture of {{ friend.first_name ~ ' ' ~ friend.last_name }},">
                                    <span> {{ friend.first_name ~ ' ' ~ friend.last_name }}</span>
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <a title="Write a message" class="btn btn-link feed-icon" href="{{ path('messages') }}"><i class="fas fa-envelope-square"></i></a>
                            </div>
                            <div class="col-sm-1">
                                <button title="Remove this friend" class="btn btn-outline-danger remove-friend-btn" href="{{ path('remove_friend', { userId: friend.user_id }) }}">&times;</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}