{% extends 'layout/base.html.twig' %}

{% block title %}My Pages{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section class="animated fadeIn mt-5">
        {% if pages == null %}
            <h1>You have no pages to manage.</h1>
            <h2><a href="{{ path('create_page') }}">Create one</a></h2>
        {% else %}
            <ul style="list-style:none;">
                {% for userPage in pages %}
                    <li>
                        <div class="row">
                            <div class="col-sm-10">
                                <a class="mr-1" href="{{ path('view_page', { pageId: userPage.pageId, pagePermalink: userPage.pagePermalink }) }}">
                                    <img src="{{ asset('images/pages/' ~ userPage.pagePic) }}" alt="{{ userPage.pageName }} page's picture," class="lg-profile">
                                    {{ userPage.pageName }}
                                </a>
                                &middot;
                                <a class="ml-1" href="{{ path('page_settings', { pageId: userPage.pageId, pagePermalink: userPage.pagePermalink }) }}"><i class="fas fa-sliders-h"></i></a>
                            </div>
                            <div class="col-sm-2 pt-4">
                                <a id="{{ 'post-with-page-' ~ userPage.pageId }}" class="btn btn-primary post-with-page-link" href="{{ path('post_with_page', { pageId: userPage.pageId, pagePermalink: userPage.pagePermalink }) }}">Post with {{ userPage.pageName }}</a>
                            </div>
                        </div>
                        <div id="{{ 'post-with-' ~ userPage.pageId ~ '-form' }}" class="row" style="display:none;">
                            <div class="col-sm-12s">
                                <form action="{{ path('post_with_page', { pageId: userPage.pageId, pagePermalink: userPage.pagePermalink }) }}" method="POST">
                                    <div class="input-group">
                                        <textarea name="page_post_content" height="42" class="form-control" placeholder="Write a post ..." required></textarea>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-info btn-lg"><i class="fas fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <hr>
                {% endfor %}
                <li class="mt-5"><a href="{{ path('create_page') }}">Create a new one</a></li>
            </ul>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}