{% if form is defined %}{% form_theme form 'bootstrap_4_layout.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="FlyingStrawberry, an open source social network.">
    <meta name="keywords" content="flyingstrawberry, foam, social, network">
    <meta name="author" content="Martin Kondor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:type' content='website'>
    <meta property='og:title' content= title>
    <meta property="og:description" content="Free to use open source social network for everyone.">
    <link rel="shortcut icon" type="images/png" href="{{ asset('images/strawberry-logo.png') }}"/>
    <title>FSBerry - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("assets/css/normalize.css") }}"> 
    <link rel="stylesheet" href="{{ asset("assets/css/theme.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("assets/css/animate.min.css") }}"> 
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset("stylesheets/style.css") }}">
</head>
<body>
<header>
    {% include 'layout/navbar.html.twig' %}
</header>
<main class="container"> 
    {% block body %}
    {% endblock %}
</main>
<footer>
    {% include 'layout/footer.html.twig' %}
</footer>
<script src="{{ asset("assets/js/jquery.min.js") }}"></script>
<script src="{{ asset("assets/js/popper.min.js") }}"></script>
<script src="{{ asset("assets/js/bootstrap.min.js") }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset("assets/js/cookienotice.min.js") }}"></script>
<script src="{{ asset("javascripts/script.js") }}"></script>
</body>
</html>
