<div class="row text-center mt-3">
   <div class="col-sm">
      <ul>
         <li><a href="{{ path('about') }}">About</a></li>
         <li><a href="https://github.com/in-connect/inconnect">Contribute</a></li>
         <li><a href="mailto://martinkondor@gmail.com">Help</a></li>
      </ul>
   </div>
   <div class="col-sm">
      <ul>
         <li><a href="{{ path('find_friends') }}">Find Friends</a></li>
         <li><a href="{{ path('create_page') }}">Create Page</a></li>
      </ul>
   </div>
   <div class="col-sm">
      <ul>
         <li><a href="{{ path('privacy') }}">Privacy</a></li>
         <li><a href="{{ path('terms') }}">Terms</a></li>
         <li><a href="{{ path('cookies') }}">Cookies</a></li>
      </ul>
   </div>
</div>
<span class="copy text-muted mb-2">Martin Kondor &copy; 2018 </span>
