<nav class="navbar navbar-expand-lg navbar-light bg-light pl-4 pr-4 pt-1 pb-1">
      <a class="navbar-brand brand-logo" href="{{ path('index') }}" title="Flying Strawberry">
          InConnect
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarContent">
         {% if app.user is not null %}
            <ul class="navbar-nav mr-auto">
                <li class="dropdown nav-item ml-1 mr-4">
                     <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                         <img id="actual-user-profile-pic" class="xs-profile" src="{{ asset('images/profiles/' ~ app.user.profilePic) }}" alt="Navigation bar profile picture">
                     </a>
                     <ul class="dropdown-menu">
                         <li><a class="nav-link" href="{{ asset('u/' ~ app.user.permalink) }}"><i class="fas fa-user"></i> Profile</a></li>
                         <li><a class="nav-link" href="#"><i class="fas fa-cogs"></i> Settings</a></li>
                         <li><a class="nav-link" href="{{ path("logout") }}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
                     </ul>
                </li>

                {# Friend Notifications #}
                <li title="Friend notifications" class="dropdown nav-item ml-1">
                    <a id="notification-link" class="dropdown-toggle nav-link" data-toggle="dropdown"
                       href="{{ path("notification", { userId: app.user.userId }) }}">
                        <i class="fas fa-user-friends nav-icon"></i>
                        <span id="friend-notification-counter" class="badge badge-success"></span>
                    </a>
                    <ul id="friend-notification-list" style="list-style:none;" class="dropdown-menu mr-5"></ul>
                </li>

                {# Messages #}
                <li title="Messages" class="dropdown nav-item ml-1">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-envelope nav-icon"></i>
                        <span id="message-notification-counter" class="badge badge-success"></span>
                    </a>
                    <ul id="message-list" class="dropdown-menu mr-5"></ul>
                </li>

                {# Other Notifications #}
                <li title="Notifications" class="dropdown nav-item ml-1">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-bell nav-icon"></i>
                        <span id="general-notification-counter" class="badge badge-success"></span>
                    </a>
                    <ul id="notification-list" class="dropdown-menu mr-5"></ul>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item nav-link"><a href="{{ path('news') }}">News</a></li>
                <li class="nav-item nav-link"><a href="#">Messages</a></li>
                <li class="nav-item nav-link"><a href="{{ path('events') }}">Events</a></li>
                <li class="nav-item nav-link"><a href="#">Photos</a></li>
                <li class="nav-item nav-link"><a href="{{ path('find_friends') }}">Find Friends</a></li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <form action="#" class="form-inline input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <li class="navbar-brand" style="display: none;"><a id="actual-user-name" class="brand-logo" href="{{ asset('u/' ~ app.user.permalink) }}">{{ app.user.firstName ~' '~ app.user.lastName}}</a></li>
            </ul>
         {% else %}
             <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path("signup") }}" class="nav-link">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path("login") }}" class="nav-link">Log in</a>
                </li>
             </ul>
         {% endif %}
     </div>
</nav>