<nav class="navbar navbar-expand-lg navbar-light bg-main">
      <a class="navbar-brand brand-logo" href="{{ path('index') }}" title="FlyingStrawberry">
         <img src="{{ asset('images/strawberry-logo.png') }}" alt="Strawberry logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarContent">
         {% if app.user is not null %}
            <ul class="navbar-nav mr-auto">
                 <li class="mr-1"><a id="actual-user-name" class="brand-logo" href="{{ asset('u/' ~ app.user.permalink) }}">{{ app.user.firstName ~' '~ app.user.lastName}}</a></li>
                 <li class="dropdown nav-item">
                     <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                     <img id="actual-user-profile-pic" class="xs-profile" src="{{ asset('images/profiles/' ~ app.user.profilePic) }}" alt="Navigation bar profile picture">
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu mr-5">
                         <li><a class="nav-link" href="{{ asset('u/' ~ app.user.permalink) }}"><i class="fas fa-user"></i> Profile</a></li>
                         <li><a class="nav-link" href="#"><i class="fas fa-cogs"></i> Settings</a></li>
                         <li><a class="nav-link" href="{{ path("logout") }}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
                     </ul>
                 </li>
             </ul>
         {% else %}
             <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path("signup") }}" class="nav-link">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path("login") }}" class="nav-link">Log in</a>
                </li>
             </ul>
         {% endif %}
     </div>
</nav>